<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.bankerarea.mapper.LikeyMapper">
		<insert id="insertLikey" parameterType="com.bankerarea.vo.LikeyVO">
			INSERT INTO LIKEY(id, idea_seq)
			VALUES(#{id}, #{idea_seq})
		</insert>
		
		<delete id="deleteLikey" parameterType="com.bankerarea.vo.LikeyVO">
			DELETE FROM LIKEY
			WHERE id = #{id}
			AND idea_seq = #{idea_seq}
		</delete>
		
		<select id="doYouLike" parameterType="com.bankerarea.vo.LikeyVO" resultType="Integer">
			SELECT likey_seq FROM LIKEY
			WHERE id = #{id}
			AND idea_seq = #{idea_seq}
		</select>
		
		<select id="ideaLikeyList" parameterType="int" resultType="com.bankerarea.vo.LikeyVO">
			SELECT * FROM LIKEY
			WHERE idea_seq=#{idea_seq}
		</select>
		
	</mapper>